<div class="bg-gray-100">
  <div class="container mx-auto py-8">
      <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
          <div class="col-span-4 sm:col-span-3">
              <div class="bg-white shadow rounded-lg p-6">
                  <div class="flex flex-col items-center">
                      <img [src]="foto" alt="Foto de perfil" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0">

                      <h1 class="text-xl font-bold">Pedro T. Gomes</h1>
                      <p class="text-gray-700">Tipo Sanguíneo: A+</p>
                  </div>
                  <hr class="my-6 border-t border-gray-300">
                  <div class="flex flex-col">
                      <span class="text-gray-700 uppercase font-bold tracking-wider mb-2">Email para contato:</span>
                      <ul>
                          <li class="mb-2">pedro&email.com</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-span-4 sm:col-span-9">
            <div class="bg-white shadow rounded-lg p-6">
                <h2 class="text-xl font-bold mt-6 mb-4">Informações do Paciente</h2>
                <div class="mb-6">
                    <div class="flex justify-between flex-wrap gap-2 w-full">
                        <span class="text-gray-700 font-bold">Nome:</span>
                        <p>Tudo estático</p>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="flex justify-between flex-wrap gap-2 w-full">
                        <span class="text-gray-700 font-bold">CPF:</span>
                        <p>Tudo estático</p>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="flex justify-between flex-wrap gap-2 w-full">
                        <span class="text-gray-700 font-bold">Data de Nascimento:</span>
                        <p>Tudo estático</p>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="flex justify-between flex-wrap gap-2 w-full">
                        <span class="text-gray-700 font-bold">Endereço:</span>
                        <p>Tudo estático</p>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="flex justify-between flex-wrap gap-2 w-full">
                        <span class="text-gray-700 font-bold">Telefone:</span>
                        <p>Tudo estático</p>
                    </div>
                </div>
            </div>
        </div>

      </div>
  </div>
</div>
