
<div class="bg-white py-5 sm:py-4">
    <div class="mx-auto px-6 lg:px-8">
      <div class=" flex justify-between min-w-0 flex-1">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Tabela de Consultas</h2>
      </div>
      <div style="border-radius: 20px;" class=" mt-10 grid max-w-2xl grid-cols-3 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">          
        <div  *ngFor="let consulta of consultas" class="bg-slate-300 borda-preta bg-white shadow-secondary-1 dark:bg-surface-dark dark:text-white text-surface rounded-lg mb-4">
          <div
             class="border-b-2 border-100 px-6 py-3 dark:border-white/10">
            <div style="margin-left:10x;" class="flex items-center gap-x-4 text-xs text-xs font-medium leading-normal text-black shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
              <a class="subpixel-antialiased" >Data da Consulta:</a>
              <time datetime="2020-03-16" class="text-gray-500 text-xs font-medium leading-normal ">{{ consulta.dataConsulta }}</time><br>
              </div>
            <div class="flex items-center gap-x-4 text-xs" style="margin-top: 10px;">
               <a class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Médico: {{ consulta.nomeMedico }}</a>
            </div>
          </div>
          <div class="p-6 ">
            <h5
              class="mb-2 text-xl font-medium leading-tight">
              Motivo:  {{ consulta.motivoConsulta }}
            </h5>
            <p class="mb-4 text-base">
            </p>
            <div class="relative mt-8 flex items-center gap-x-4">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>

              <div class="text-sm leading-6">
                <p class="font-semibold text-gray-900">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                  </a>
                </p>
                <p class="text-xs font-medium uppercase leading-normal text-black shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"> 
                  Paciente:   {{consulta.nomePaciente}} 
                </p>
              </div>
            </div>
            <button
              type="button"
              href="#"
              style="margin-top: 15px;"
              class="inline-block rounded bg-primary bg-blue-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
              data-twe-ripple-init
              data-twe-ripple-color="light">
              Ver mais
            </button>
          </div>
        </div>
        <!-- More posts... -->
      </div>
    </div>
  </div>
