
<div class="bg-white py-5 sm:py-4">
    <div class="mx-auto px-6 lg:px-8">
      <div class=" flex justify-between min-w-0 flex-1">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Tabela de Consultas</h2>
      </div>
      <div style="border-radius: 20px; " class="mt-10 grid max-w-2xl grid-cols-3 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          <div *ngFor="let consulta of consultas"  class="bg-emerald-200" style=" margin-left: 5px; border-radius: 20px">
            <article style="margin-left:15px; margin-top:5px" class="flex max-w-xl flex-col items-start justify-between">
                <div style="margin-left:15px;" class="flex items-center gap-x-4 text-xs">
                  <time datetime="2020-03-16" class="text-gray-500">{{ consulta.dataConsulta }}</time><br>
                  </div>
                <div class="flex items-center gap-x-4 text-xs">
                   <a class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Médico: {{ consulta.nomeMedico }}</a>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                    </a>
                  </h3>
                  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Motivo:<br>{{ consulta.motivoConsulta }}</p>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  </svg>

                  <div class="text-sm leading-6">
                    <p class="font-semibold text-gray-900">
                      <a href="#">
                        <span class="absolute inset-0"></span>
                      </a>
                    </p>
                    <p class="text-gray-600"> Paciente <br>{{consulta.nomePaciente}} </p>
                  </div>
                </div>
              </article>
          </div>


        <!-- More posts... -->
      </div>
    </div>
  </div>
